
body {
	background-color: black;
	background-repeat: no-repeat;
	background-size: 95% 95%;
	background-position: center;
	padding-top: 2%;
	padding-bottom: 4%;
	font-family: "Times New Roman", Times, serif;
}

button.link_style {
	width:100%;
	background: rgba(237, 237, 237, 1);
	border: none;
	padding: 7px;
	margin: 0.5px;
	font-size:1em;
	color: rgb(130, 22, 0);
	cursor: pointer;
}


button.link_style:hover {
	text-decoration: underline;
	color: rgb(97, 16, 0);
}

iframe.spotify_player {
	width: 300px;
	height: 380px;
}

img.title_image {
	margin: auto;
	width: 500px;
	height: auto;
}

img.arist_image {
	width: 500px;
	height: auto;
}

.submit_btn {
	font-size: 20px;
	font-style: italic;
	margin-top: 0.5em;
	height: 1.7em;
}

input.text_query {
	width: 80%;
	font-size: 1.25em;
}

table {
	margin: auto;
	width: 85%;
}

textarea.lyric_entry {
	width: 80%;
	height: 50em;
	margin: auto;
	background-color: rgba(153, 153, 153, 0.5);
	color: white;
	font-size: 1em;
	font-weight: bold;
	padding: 1em;
	
}

.header_text {
	font-style: italic;
	font-size: 1.2em;
	padding-bottom: 0.2em;
}

p.lyrics_header {
	font-size: 1.5em;
	font-style: italic;
}

p.sub_text {
	font-style: italic;
	color: rgba(255,255,255, 0.75)
}

.center_text {
	text-align:center;
}

/* Position text in the middle of the page/image */
.content {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
	color: white;
	font-size: 16pt;
	border: 3px solid #f1f1f1;
	padding: 20px;
	width: 80%;
	height: 100%;
	margin: auto;
}